* { 
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	font-size: 14px;
}
body {
	background-color: #5fa3e6 !important;
}
.title {
	text-align: center;
	font-size: 30px;
	color: white;
	font-weight: 400;
}
.search {
	margin: auto;
	text-align: center;
}
.list-item.active {
	background-color: #ededed;
}
.search-box {
	width: 475px;
	height: 40px;
	padding-left: 20px;
	border: none;
	border-radius: 0px 5px 0px 0px;
	outline: none;
}
.search-and-list {
	float: left;
}
.list-conatiner {
	position: absolute;
}
.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	height: 40px;
	padding-left: 20px;
	padding-right: 30px;
	background-image: url(../drop-01.png);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: right center;
	border-radius: 5px 0px 0px 5px;
	outline: none;
	float: left;
	border: none;
	cursor: pointer;
	background-color: #f8f8f8;
}
.list-item {
	text-align: left;
	position: relative;
	background-color: white;
	padding: 10px;
}
.list-item:hover {
	background-color: #ededed;
	cursor: pointer;
}
.list-item:last-child {
	border-radius: 0px 0px 5px 5px;
}
.list-item:first-child {
	border-top: 1px solid #ededed;
}
.item-type {
	font-size: .9em;
	color: #fcc087;
	float: right;
}
.item-name {
	display: inline-block;
	width: 100%;
	color: #333;
	text-decoration: none;
}

