* { 
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	font-size: 16px;
}
body {
	background-color: #5fa3e6 !important;
}
.app {
	margin-top: 25vh;
}
.title {
	text-align: center;
	font-size: 30px;
	color: white;
	font-weight: 400;
}
.search {
	width: 50%;
	min-width: 700px;
	position: relative;
	margin: 50px auto;
	text-align: center;
}
.test {
	display: inline;
}
.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	width: 20%;
	height: 40px;
	padding-left: 20px;
	padding-right: 30px;
	background-image: url(../drop-01.png);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: right center;
	border-radius: 5px 0px 0px 5px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #f8f8f8;
}
.list-container {
	position: absolute;
	width: 80%;
	top: 40px;
	right: 0px;
}
.search-box {
	display: inline-block;
	width: 80%;
	height: 40px;
	padding-left: 20px;
	border: none;
	border-radius: 0px 5px 0px 0px;
	outline: none;
}
.list-item {
	width: 100%;
	text-align: left;
	top: 40px;
	right: 0px;
	background-color: white;
	padding: 10px;
}
.list-item.active {
	background-color: #ededed;
}
.list-item:hover {
	background-color: #ededed;
	cursor: pointer;
}
.list-item:last-child {
	border-radius: 0px 0px 5px 5px;
}
.list-item:first-child {
	border-top: 1px solid #ededed;
}
.item-type {
	font-size: .9em;
	color: #fcc087;
	float: right;
}
.item-name {
	display: inline-block;
	width: 100%;
	color: #333;
	text-decoration: none;
}

@media (max-width: 725px) {
	.app {
		margin-top: 10vh;
	}
	.select {
		display: none;
	}
	.search-box {
		width: 100%;
		min-width: 100%;
		border-radius: 5px 5px 0px 0px;
	}
	.search {
		width: 100%;
		min-width: 100%;
		text-align: center;
	}
	.list-container {
		position: absolute;
		width: 100%;
		top: 40px;
		right: 0px;
	}
}

